h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}

h1 {
  font-size: 48px;
}

p {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.nav {
  background: rgb(255, 255, 255, 0.7);
  width: 100%;
  z-index: 100;
  position: relative;
  padding: 0.6em;
  margin-top: 1em;
}

.nav-link {
  color: #355245;
  border: 3px solid #355245;
  font-size: 18px;
  border-radius: 3em;
  margin-right: 30px;
}

.nav-proyectos {
  color: #355245;
  border: none;
  border-radius: 3em;
  margin-right: 20px;
}

.nav-link:hover {
  background-color: #648374;
  color: #E3E5D8;
}

.nav-proyectos:hover {
  background: none;
  color: #648374;
}
/*Header*/

.header {
  padding: 3em;
}

/*Footer*/
footer {
  padding: 20px;
  background-color: #355245;
}

.icono {
  width: 2.5em;
  margin-right: 1em;
}

.copyright p {
  color: white;
  text-align: center;
  font-size: 16px;
}
